html {
    font-size: 10px
}

body {
    width: 100vw;
    overflow-x: hidden;
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: aliceblue;
    width: 100vw;
    height: 8rem;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

header>div {
    position: relative;
    margin: 1.6rem;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
}

header>button {
    position: relative;
    width: 14rem;
    height: 4.8rem;
    margin: 1.6rem;
    border-radius: 2.8rem;
    border: none;
    color: aliceblue;
    font-size: 1.6rem;
    background-color: #13183F;
}

/* Section Above */
.section-above {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    height: auto;
    top: 8rem;
    background: linear-gradient(180deg, aliceblue 0%, #FFFFFF  100%);
    overflow: hidden;
}

#title {
    font-size: 4rem;
    color: #13183F;
    font-weight: bold;
    max-width: 34.3rem;
    height: 10.1rem;
    margin: auto;
}

#description {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #83869A;
    margin: auto;
    margin-top: 2.6rem;
    max-width: 34.3rem;
    height: 7.8rem;
}

.section-above>button {
    position: relative;
    width: 14rem;
    height: 4.8rem;
    top: 0px;
    margin-top: 2.4rem;
    border-radius: 2.8rem;
    border: none;
    color: aliceblue;
    font-size: 1.6rem;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.div-image-hero {
    max-height: 25.3rem;
    max-width: 25.3rem;
    margin: auto;
    margin-bottom: 2rem;
}

#div-image-hero-mobile {
    position: relative;
    /* background-color: #13183F; */
    width: 100%;
    height: 100%;


}

#div-image-hero-tablet {
    visibility: hidden;
}

#div-image-hero-desktop {
    visibility: hidden;
}





/* Section Bottom */

.section-bottom {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    height: 180rem;
    top: 65rem;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, aliceblue 100%);

}

#div-check-out-cources {
    border-radius: 10px;
    overflow: hidden;
    max-width: 34.3rem;
    margin: auto;
    left: 0px;
    top: 1rem;
    height: 12rem;
    right: 0px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

#div-check-out-cources>p {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    text-align: left;
    padding-left: 2.9rem;
    color: #ffffff;
}

#business {
    margin-bottom: 4rem;
}

.div-in-section-bottom {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    height: 26rem;
    width: 34.3rem;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px 0px #06168D0B;
    border-radius: 10px;
}

.div-in-section-bottom>h1 {
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 25px;
    text-align: left;
    margin-left: 2.8rem;
    margin-top: 0px;
}

.div-in-section-bottom>p {
    color: #83869A;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
}

.div-in-section-bottom>h2 {
    padding-left: 2.8rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    color: #F74780;
}

.div-in-section-bottom>img{
    position: relative;
    padding-left: 2.8rem;
    top: -2.8rem;
}




/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #13183F;
    width: 100vw;
    height: 8rem;
    left: 0px;
    bottom: 0px;
    margin-top: 2rem;
    overflow: hidden;
}

footer>div {
    position: relative;
    margin: 1.6rem;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
    color: aliceblue;
}

footer>button {
    position: relative;
    width: 14rem;
    height: 4.8rem;
    margin: 1.6rem;
    border-radius: 2.8rem;
    border: none;
    color: aliceblue;
    font-size: 1.6rem;
    background-color: #13183F;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);

}